@model BKind.ViewModels.UserRoleViewModel
@{
    ViewData["Title"] = "Adaugă un rol utilizatorului";
}


<div class="jumbotron col-12" style="text-align:center;">


    <h4>Adaugă privilegii utilizatorilor:</h4>


    <hr class="my-2">

    <div class="card" style="width: 35rem; text-align:center; margin-left:250px;">
        <div class="card-body">
            <h6 class="card-title" style="color:dodgerblue;">

                Această secțiune permite adăugarea drepturilor suplimentare. <br />
                Alege utilizatorii cărora vrei să le adaugi privilegii:
            </h6>
        </div>

    </div>
    <br />
    <form asp-controller="Admin" asp-action="AddUserToRole">
        <input type="hidden" name="roleId" value="@Model.RoleId" />
        <select asp-for="UserId"
                asp-items="@(new SelectList(Model.Users, "Id","Email"))">
            <option>Selectează un user</option>
        </select>
        <input class="btn btn-sm btn-primary" value="Adaugă" type="submit" />
    </form>
    <br />
    <a asp-action="RoleManagement" class="btn btn-sm btn-primary">Finalizare</a>


</div>

