@model BKind.ViewModels.UserRoleViewModel

@{
    ViewData["Title"] = "Ștergere rol";
}

<h2>Ștergerea utilizatorului de la rol</h2>

<form asp-controller="Admin" asp-action="DeleteUserFromRole">
    <input type="hidden" name="roleId" value="@Model.RoleId" />
    <select asp-for="UserId"
            asp-items="@(new SelectList(Model.Users, "Id","Email"))">
        <option>Elimină utilizator</option>
    </select>
    <input class="btn btn-primary" value="Elimină rolul utilizatorului" type="submit" />
</form>
<br />
<a asp-action="RoleManagement" class="btn btn-primary">Finalizare</a>

