@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestionare cont</h2>

<div>
    <h5>Schimbă setările contului</h5>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}