@model BKind.Models.Manage.DownloadPersonalData
@{
    ViewData["Title"] = "Descărcare date personale";
    ViewData["ActivePage"] = BKind.Models.Manage.ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}