@model BKind.ViewModels.RequestEditViewModel

@{
    ViewData["Title"] = "Editează";
    var imagePath = "~/images/" + (Model.ExistingImagePath ?? "defaultimage.jpg"); /*daca utilizatorul nu alege o poza, se pune implicit una*/

}

<h1>Editează</h1>

<h4>Cerere</h4>
<hr />
<div class="row">
    <div class="col-md-5">

        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="ExistingImagePath" />

            <div class="form-group">
                <div class="custom-file">
                    <input asp-for="Image" class="form-control custom-file-input" asp-items="ViewBag.Image" />
                    <label asp-for="Image" class="custom-file-label">Click aici pentru a schimba poza</label>
                </div>
                <img class="imageThumbnail" src="@imagePath" asp-append-version="true" alt="image" height="220" width="220" />

            </div>

            <div class="form-group">
                <label asp-for="Title" class="control-label">Titlu</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Descriere</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label">Categorie</label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonID" class="control-label">Persoană</label>
                <select asp-for="PersonID" class="form-control" asp-items="ViewBag.PersonID"></select>
                <span asp-validation-for="PersonID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvează" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Lista cererilor</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @*cod jquery pt a afisa numele pozei la momentul upload*@

    <script type="text/javascript">
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            })
        });

    </script>
}
