@model BKind.Models.Person

@{
    ViewData["Title"] = "Creează";
}

<h5>Adaugă o nouă persoană</h5>

<a asp-action="Index" asp-controller="Requests" class="btn btn-lg btn-sm btn-outline-dark" style="margin-top:10px;">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
    Înapoi la pagina principală
</a>
<br />

<hr />
<div class="row">
    <div class="col-md-7">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"><b>Nume*:</b></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"><b>Prenume*:</b></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"><b>Data nașterii*:</b></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressID" class="control-label"><b>Alege adresa persoanei*:</b></label>
                <select asp-for="AddressID" class="form-control" asp-items="ViewBag.AddressID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Adaugă" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
