@model BKind.Models.Account.AccessDenied
@{
    ViewData["Title"] = "Acces interzis";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nu aveți acces la aceste resurse.</p>
</header>

