@model BKind.Models.Account.CheckConfirmEmail
@{
    ViewData["Title"] = "Confirmare email";
}

<h3>Confirmare email</h3>
<br />

<p> Te rugăm verifică-ți cutiuța poștală electronică. <br />
    Un mesaj ce conține link-ul la care îți poți confirma adresa de e-mail a fost trimis. <br />
    Fără această confirmare nu te vei putea autentifica în aplicație și implicit, <br />
    nu te vei putea bucura de ceea ce <em>BKind</em> îți oferă. </p>



