@model BKind.Models.Account.CheckConfirmEmail
@{
    ViewData["Title"] = "Confirmare email";
}

<h2>Confirmare email</h2>
<br />

<p> Te rugăm verifică-ți cutiuța poștală electronică. <br />
    Ți-am trimis un mesaj ce conține link-ul la care îți poți confirma adresa de e-mail. <br />
    Fără această confirmare nu te vei putea autentifica în aplicație și implicit, <br />
    nu te vei putea bucura de ceea ce <em>BKind</em> îți oferă. </p>



