@model BKind.Models.Account.ConfirmEmail
@{
    ViewData["Title"] = "Confirmare email";
}

<h3>E-mail confirmat</h3>
<div>
    <p>
        Îți mulțumim pentru confirmare! <br />
        Acum te poți bucura de contul tău <em>BKind</em>. <a asp-action="Login">Autentifică-te aici</a>
    </p>
</div>
