@model BKind.Models.Account.Register
@{
    ViewData["Title"] = "Înregistrare";
    var ReturnUrl = (string)ViewData["ReturnUrl"];
}

    <link href="~/css/register.css" rel="stylesheet" />

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="card-body">

                <div class="d-flex justify-content-center links">
                    Ai deja un cont?
                    <a asp-action="Login" asp-route-returnUrl="@ReturnUrl" style="color:cornflowerblue;">Autentifică-te aici.</a>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Register" asp-route-returnUrl="@ReturnUrl" method="post">

                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="FirstName" class="form-control" placeholder="Prenume*:" />
                            </div>
                            <div class="form-group">
                                <input asp-for="LastName" class="form-control" placeholder="Nume*:" />
                            </div>
                            <div class="form-group">
                                <input asp-for="Email" class="form-control" placeholder="E-mail*:" />
                            </div>
                            <div class="form-group">
                                <input asp-for="Password" class="form-control" placeholder="Parolă*:" />
                            </div>
                            <div class="form-group">
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmare parolă*:" />
                            </div>
                            <input type="submit" value="Înregistrează-te" class="btn float-right register_btn">
                        </form>

                    </div>
                </div>


            </div>
            
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
