@model BKind.Models.Account.ResetPasswordConfirmation
@{
    ViewData["Title"] = "Confirmare schimbare parolă";
}

<h1>@ViewData["Title"]</h1>
<p>
    Parola ta a fost schimbată cu succes. Te rugăm <a asp-action="Login">apasă aici</a> pentru a te autentifica cu noua parolă.
</p>