
.sidenav {
    height: 80%; 
    width: 600px; /* Set the width of the sidebar */
    float: right;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 105px;
    left: 695px;
    bottom: 1150px;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
}


.card-body .card-text {
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.main {
    margin-left: 40px; 
    padding: 0px 10px;
}

/*box style*/
.box {
    padding: 0px 0px;
}

.box-part {
    background: #FFF;
    border-radius: 0;
    padding: 0px 10px;
    margin: 30px 0px;
}