

.card-text {
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.list-group .list-group-item {
    color: black;
    
}

    .list-group p  {
        background-color: lightcoral;
        text-align: center;
    }