@model BKind.Models.Category

@{
    ViewData["Title"] = "Adaugă";
}

<h5>Adaugă o nouă categorie</h5>

<a asp-action="Index" asp-controller="Requests" class="btn btn-lg btn-sm btn-outline-dark" style="margin-top:10px;">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
    Înapoi la pagina principală
</a>
<br />
<hr />
<div class="row">
    <div class="col-md-7">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"><b>Denumire*:</b></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adaugă" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
