@model BKind.Models.Category

@{
    ViewData["Title"] = "Detalii";
}


<div>
    <h5>Detalii despre această categorie:</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Denumire
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editează</a> |
    <a asp-action="Index">Lista categoriilor</a>
</div>
